.mobile-toggle {
	@include size(auto 100%);
	padding: 0 15px;
	float: right;
	background-color: $blue;
	@include center-flex;

	&__icon { //self-selector: .mobile-toggle__icon
		color: $white;
		font-size: 30px;
		line-height: 1;
	}

	&:hover, &:focus, &:active {
		background-color: darken($blue, 5%);
		cursor: pointer;
	}
}