.homepage{
	margin-top:50px;
	margin-bottom:100px;

	@include bp(beta) {
		margin-top: 60px;
		margin-bottom:100px;

			}
	@include bp(gamma) {
		margin-top: 60px;
		margin-bottom:100px;
	
		}
	@include bp(delta) {
		margin-top: 60px;
		margin-bottom:100px;
	
		}
}


.user{

	&__post {
		
		&--header{
			border: 2px solid #a1a1a1;
		    border-radius: 20px 20px 0px 0px;
			background-color: pink;
			padding: 5px 0px 5px;

			h3{
			padding: 0px 30px 0px;
			text-align: left;
			}

		}
		
		
		&--field{
			background-color: $gray;
			padding: 20px 20px;

			h3{
				color: white;
			}
			select{
				margin-bottom: 10px;
			}

			textarea{
				@include size(100% auto);
				padding: 20px 20px;
				resize:none;
			}
		}

		&__image{
			img{
				@include size(100% auto);
				object-fit: cover;			}
		}


	}

	

	&__line{
		height: 1px;
	    width: 100%;
	    margin: 20px 0;
	    background-color: $white;
	}

	&__comments{
		background-color: pink;

			textarea{
				@include size(100% auto);
				margin-top: 20px;
				padding: 20px 20px;
				resize:none;
			}
		}	

	&__viewpost{
		background-color: $gray;
		padding:30px 10px 20px;

		
		&--images{
			margin:0px;
				img{
					@include size(100% auto);
					object-fit: cover;
			}
		}
		
		&--name{
			color:white;
			margin-left: 20px;
			line-height: 90%;

			h4{
				float:left;
				font-size: 10px;

				@include bp(beta) {
					font-size:15px; 

					}
				@include bp(gamma) {
					font-size:15px;
				
					}
				@include bp(delta) {
					font-size:18px; 
						
					}
				}
			p{
				font-weight: 200;
				color: white;
				float:left;
				font-size: 10px;

				@include bp(beta) {
					font-size:15px; 

					}
				@include bp(gamma) {
					font-size:15px;
				
					}
				@include bp(delta) {
					font-size:18px; 
						
					}
			}
		}

		&--details{
			color: $white;
			text-align:left;
			padding: 20px 0px;

			@include bp(beta) {
				padding:20px 0px;

					}
			@include bp(gamma) {
				padding:20px 20px;
			
				}
			@include bp(delta) {
				padding:20px 20px;
	
				}


			}

		
		}
}

.jeep{
	background-color: white;
	border-radius: 20px 20px 10px 10px;

	&__header{
		padding: 5px 0px 5px;
		border: 2px solid #a1a1a1; 
		background-color: #dddddd;
		border-radius: 20px 20px 0px 0px;
	}

	&__rating{
			@include size(100% auto);
			color: white;
			border: 2px solid #a1a1a1; 
		    background: #dddddd;
		    border-radius: 20px 20px 0px 0px;

		ul{
			margin: 20px;
		}

		h5{
			font-weight: bold;
		}
	}
}

.line{
		height: 1px;
	    width: 100%;
	    margin: 20px 0;
	    background-color: black;
	}

.profile{
	background-color: white;
	@include size(100% auto);

	&__name{
		color:$white;
	}

	&__details{
		padding:20px;
	}

	
	&__image{
		img{
			margin:20px 0px 20px;
			@include size(100% auto);
			object-fit: cover;
		}
		}
}