body {
  background-image: url('library/images/bgc.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container{
	margin-top: 35px;
	text-align: center;
	
			@include bp(beta) {
		    	margin-top: 35px

			}
			@include bp(gamma) {
		    	margin-top: 35px

			}
			@include bp(delta) {
		    	margin-top: 80px

			}				
}


.login{
	height:480px;
	float:none;
	border: 2px solid #a1a1a1;
    background-color: #dddddd;
    border-radius: 20px;

		&__header{
		padding:30px 0px 30px;
	}

		&__userlog{

			&--userinfo{
				margin-bottom: 10px;
			    border-radius: 4px;
			}
		}
}

.btn{
	margin-bottom: 15px;
}


//main mune//
.site-header{
	.site__nav{
			@include size(100% 50px);
			top: 0px;
			background-color: $white;
			position: fixed;
			z-index: 10000;
			border-bottom: 1px solid $gray;
	}
}

