.mobile {
	@include size(300px 100%);
	position: fixed;
	top: 0;
	right: 0;
	background-color: #1575ba;
	color:black;
	@include transform(translateX(300px));
	@include transition(transform 0.4s ease-in-out);

	&__sidebar{
		margin-top:55px;
	}

	&__list{
		padding: 10px 20px 10px;
		list-style-type: none;
		border-bottom: 1px solid #1267a3;
}



	&__link{
		color:white;

	}

	&--toggled {
		@include transform(translateX(0));
	}
}
