//sample header//

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    @include size(100% auto);  
    margin-bottom: 50px;
    object-fit: cover;

}

.fb-profile{
    padding:30px;
    background-color: gray;
    margin-bottom:30px;

    &__header{
        margin-bottom:20px;

        @include bp(beta) {
                margin-bottom: 20px;

            }
            @include bp(gamma) {
                margin-bottom: 50px;

            }
            @include bp(delta) {
                margin-bottom: 50px;

            }       
    }
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}